< ! -- Scenario A -->
<!-- You have an input tag and would like to make sure that the username field can only take a maximum of 15 characters. What would be the best way to implement this only using HTML. -->
< ! -- Solution A >
<input type="number" max="15">

<!-- https://www.w3schools.com/html/html_form_input_types.asp#:~:text=Specifies%20the%20maximum%20value%20for%20an%20input%20field

https://stackoverflow.com/questions/8354975/how-can-i-set-max-length-in-an-html5-input-type-number-element#:~:text=And%20you%20can%20add%20a%20max%20attribute%20that%20will%20specify%20the%20highest%20possible%20number%20that%20you%20may%20insert

 -->

 < ! -- Scenario B -->
<!-- You have an image and the picture you’re trying to show is only available online and your website displays a broken image with no information. You would like to display an alternative text instead when the image is not available. What can you use to achieve this output? -->
< ! -- Solution B >
<img src="img_chania.jpg" alt="Flowers in Chania">

<!-- https://www.w3schools.com/html/html_images.asp#:~:text=The%20required%20alt%20attribute%20provides%20an%20alternate%20text%20for%20an%20image%2C%20if%20the%20user%20for%20some%20reason%20cannot%20view%20it%20(because%20of%20slow%20connection%2C%20an%20error%20in%20the%20src%20attribute%2C%20or%20if%20the%20user%20uses%20a%20screen%20reader).

https://accessibility.psu.edu/images/imageshtml/#:~:text=ALT%20attribute%20(HTML)%20%E2%80%93%20In%20HTML%2C%20the%20ALT%20text%20is%20inserted%20into%20the%20ALT%20attribute%20within%20the%20IMG%20tag. -->

< ! -- Scenario C -->
<!-- You have a website that you would like to display certain text as code so it’s easily readable by your users. What can you use to display code not as plain text but something similar to code written in a text editor? -->
< ! -- Solution C >
<p>The HTML <code>button</code> tag defines a clickable button.</p>

<!-- https://www.w3schools.com/tags/tag_code.asp#:~:text=The%20%3Ccode%3E%20tag%20is%20used%20to%20define%20a%20piece%20of%20computer%20code.%20The%20content%20inside%20is%20displayed%20in%20the%20browser%27s%20default%20monospace%20font.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code -->

