/*Google font*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset Rule*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

.nav, .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	padding: 2rem 10% 3rem 10%;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 2rem;
}

#succeed-info h3 {
	text-align: left;
	margin-bottom: 1rem;
}

#succeed-info .card {
	width: 100%;
/*	display: inline-block;*/
/*	vertical-align: top;*/
	margin: 1rem 0.5rem;
}

footer {
	padding: 1rem;
}

footer span {
	margin: 0 0.5rem;
}

#pre-footer {
	color: white;
	background-color: #002540;
}

#pre-footer div {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	margin: 1rem 1rem;	
}

#pre-footer div p, #pre-footer div h3 {
	margin: 0.3rem 0;
}