/*CSS SYNTAX*/
/*A CSS rule-set consists of a selector and a declaration block*/

h1 {
	color: yellow;
	text-align: center;
	font-size: 2rem;
}

section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

ol {
	list-style-type: none;
}

body {
	background-color: skyblue;
}

nav {
	background-color: white;
}

/*selector:hover pseudo class*/
a:hover {
	background-color: navy;
}

div {
	display: inline-block;
	float: right;
}

/*Universal Selector (lowest priority)- targets all the elements*/
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*ID Selector*/
#zuitt-motto {
	letter-spacing: 5px;
}

/*Class attribute*/
.offering-item {
	text-transform: uppercase;
}

/*Attribute Selector*/
input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {
background-color: #cf0053;
color: white;
border: 0;
border-radius: 15px;
}
/*CSS Combinators*/

/*Adjacent Sibling Selector*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Descendant Selector*/
#bootcamp-learning-list li {
	color: #075966;
}

/*General Sibling Selector*/
h2 ~ a {
	text-decoration: none;
}

/*Child Selector*/
body > section > form > label {
	color: rgb(0, 0, 128);
}