/*CSS Reset Rule*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
}

nav {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: white;
  border-color: gray;
  border-style: solid;
  border-width: 0 0 1px 0;
}

nav li {
  font-weight: 400;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
}

.nav-logo {
  float: left;
  margin-left: 150px;
}

nav div {
  float: right;
  margin-right: 150px;
}

.tuitt-button {
	color: white;
	background-color: #c2195b;
	border-color: transparent;
	border-radius: 25px;
	padding: 10px;
}

#bg-image {
	background-image: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 350px;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	width: inherit;
	height: inherit;
}

.container {
	color: white;
	text-align: right;
	margin-right: 200px;
}

.title {
	font-family: "Zilla Slab", serif;
	font-size: 3rem;
	padding-left: 50%;
	margin-bottom: 15px;
}

.subtitle {
	font-size: 1rem;
	font-weight: 100;
	padding-left: 72%;
	margin-bottom: 15px;
}

.apply-button {
	color: white;
	background-color: #c2195b;
	border-color: transparent;
	border-radius: 25px;
	padding: 10px 35px;
}

.intro {
		margin: 3rem 0 4rem 0;
}

.title-2 {
	font-family: "Zilla Slab", serif;
	text-align: center;
	font-size: 2rem;
	margin: 0 0 3rem 0;
}

.intro-description {
	padding-right: 12%;
	padding-left: 12%;
	text-align: justify;
}

.pre-footer {
	background-color: #f7fbfb;
	height: 350px;
}

.pre-footer .title-2 {
	padding-top: 3rem;
	margin-bottom: 2rem;
}

.prefooter-description {
	text-align: center;
	padding-right: 12%;
	padding-left: 12%;
}

.book-button {
	display: block;
	color: white;
	background-color: #336589;
	border-color: transparent;
	border-radius: 25px;
	padding: 10px 35px;
	margin: 10px auto 0 auto;
}

footer {
	text-align: center;
	margin: 0.5rem 0;
}

footer span {
	margin: 0 0.5rem;
}