* {
    font-family: "Verdana", sans-serif;
    font-size: 12pt;
}

body > p:nth-child(3) {
    color: yellow;
}

h1 {
    font-size: 36pt;
}

#learn {
    text-transform: uppercase;
}

.lang {
    background-color: green;
}

li[title] {
    border: 1px solid blue;
}

img + ul {
    list-style-type: none;
}

section img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

img ~ p {
    text-align: center;
}

ul > li {
    letter-spacing:7px;
}